.intro{
    display: flex;
    height: 77vh;
    margin-top: 6rem;
}
.i-left{
    display:flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}
.i-right{
    flex: 1;
    position: relative;
    
}
.i-right>*{
    position:absolute;
    z-index: 1;
}
.i-right>:nth-child(1)
{
    transform: scale(0.69);
    left: -15%;
    top: -9%;
}
.i-right>:nth-child(2)
{
    top: -4.6rem;
    transform: scale(0.67);
    left: -3rem;
}
.i-right>:nth-child(3)
{
    transform: scale(1.4);
    left: 28%;
}

.i-name{
    display: flex;
    flex-direction: column;
}
.i-name>:nth-child(1)
{
    color:black;
    font-weight: bold;
    font-size: 3rem;
}
.i-name>:nth-child(2)
{
    color:orange;
    font-weight: bold;
    font-size: 3rem;
}
.i-name>:nth-child(3)
{
    color:gray;
    font-weight: 100;
    font-size: 15px;
    margin-top: 10px;
    font-family:sans-serif;
    
}
.i-button{
    width: 8rem;
    height: 3rem;
}
.i-icons{
    display: flex;
    margin-top: 1rem;
    gap: 0rem;
}
.i-icons>*{
transform: scale(0.7);
width: 3.9rem;
height: 3.9rem;
}
.i-icons>*:hover{
    cursor:pointer;
    background: black;
    border-radius: 100%;
    }


